{% extends "bootstrap/base.html" %}
{% block title %}Priya App{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block body %}
  <div class="container" id="parent-table-div">
    <div class="row">
      <div class="col md-12">
        <h4>Dispatch Orders..</h4>
        <table class="table table-hover table-striped" id="parent-table" border="1px solid" bordercolor="#ddd">
          <tr>
            <th>Order Id</th>
            <th>Order Status</th>
            <th>Order Date</th>
            <th>Customer Notified</th>
            <th>Notification Status</th>
          </tr>
          {% for o in orders %}
            <tr>
              <td>{{o.order_id}}</td>
              <td>
                {% if o.order_status is none %}
                  <a href="#" class="btn btn-primary despatch" onclick="return despatch_now({{o.order_id}});">
                    Despatch Now </a>
                {% else %}
                  {{o.order_status}}
                {% endif %}
              </td>
              <td>{{o.order_date}}</td>
              <td>
                {% if o.order_status is none %}
                  Not yet.
                {% else %}
                  Notification Sent
                {% endif %}
              </td>
              <td>
                {% if o.notification_stat is none %}
                  NA
                {% else %}
                  <table border="1px solid" bordercolor="#ddd" class="inner_table">
                    <tr>
                      <th width="100px">Status</th>
                      <th width="270px">Notification Time</th>
                    </tr>
                    {% for n_stat in o.notification_stat %}
                      <tr>
                        <td>{{n_stat['sms_status'].capitalize()}}</td>
                        <td>{{n_stat['notification_time']}}</td>
                      </tr>
                    {% endfor %}
                  </table>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='app.js')}}"></script>
{% endblock %}
{% endblock %}


</style>

